.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

/* Global Styles */
:root {
  --primary-color: #ffffff;
  --light-color: #0084ff;
  --dark-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
}

li {
  display: inline-block;
}

/* Navbar */
.navbar {
  align-items: center;
  margin-top: 200px;
  margin-right: auto;    
  margin-left: auto;    
  max-width: 100%;    
  min-width: 1000px;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  border-bottom: 2px solid gray;
  height: 10px;
  padding: 7px 20px;
}

.navbar a:hover {
  height: 10px;
  padding: 7px 20px;
}

a:hover{
  opacity: 1;
  text-decoration: none;
}

.main-nav {
  color:#666666;
}

.main-nav:hover {
  color:var(--light-color);
}

.main-nav:active{
  color: black;
}

.main-nav-active {
  color: black;
  transition: all .4s ease-in-out;
}

.line{
  color: black;
  border-bottom: 2px solid black !important;
  z-index: 1;
  transition: all .4s ease-in-out;
}

a:nth-child(2):active .line{
  transform: translate(125px);
  transition: all .4s ease-in-out;
}

a:nth-child(3):active .line{
  transform: translate(225px);
  transition: all .4s ease-in-out;
}

a:nth-child(4):active .line{
  transform: translate(325px);
  transition: all .4s ease-in-out;
}

a:nth-child(5):active .line{
  transform: translate(425px);
  transition: all .4s ease-in-out;
}

a:nth-child(6):active .line{
  transition: all .4s ease-in-out;
}

a:nth-child(7):active .line{
  transition: all .4s ease-in-out;
}

  